parameters:
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Application/App.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:flush\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/CacheClearCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:flush\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/CacheTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:forget\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Core/Console/Commands/CacheTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:get\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: app/Core/Console/Commands/CacheTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:has\(\)\.$#'
			identifier: staticMethod.notFound
			count: 4
			path: app/Core/Console/Commands/CacheTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:put\(\)\.$#'
			identifier: staticMethod.notFound
			count: 7
			path: app/Core/Console/Commands/CacheTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:remember\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/CacheTestCommand.php

		-
			message: '#^Access to constant VERSION on an unknown class Composer\\Composer\.$#'
			identifier: class.notFound
			count: 1
			path: app/Core/Console/Commands/DoctorCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Mail\\Mail\:\:raw\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/MailTestCommand.php

		-
			message: '#^Access to an undefined property App\\Core\\Console\\Commands\\NewCommand\:\:\$descriptions\.$#'
			identifier: property.notFound
			count: 1
			path: app/Core/Console/Commands/NewCommand.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:first\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/OrmTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/OrmTestCommand.php

		-
			message: '#^Undefined variable\: \$namespace$#'
			identifier: variable.undefined
			count: 1
			path: app/Core/Console/Commands/PackageCreateCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:forever\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/QueueRestartCommand.php

		-
			message: '#^Path in require\(\) "D\:\\Personal\\my\-project\\zero/config/routes\.php" is not a file or it does not exist\.$#'
			identifier: require.fileNotFound
			count: 1
			path: app/Core/Console/Commands/RouteListCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:forget\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/ScheduleClearCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:disk\(\)\.$#'
			identifier: staticMethod.notFound
			count: 4
			path: app/Core/Console/Commands/StorageClearCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:copy\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:delete\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:deleteDirectory\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:directories\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:exists\(\)\.$#'
			identifier: staticMethod.notFound
			count: 8
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:files\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:get\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:makeDirectory\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:move\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:put\(\)\.$#'
			identifier: staticMethod.notFound
			count: 7
			path: app/Core/Console/Commands/StorageTestCommand.php

		-
			message: '#^Call to an undefined static method App\\Core\\Database\\Model\:\:addGlobalScope\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Database/Model.php

		-
			message: '#^Result of static method App\\Core\\Event\:\:dispatch\(\) \(void\) is used\.$#'
			identifier: staticMethod.void
			count: 1
			path: app/Core/Database/Model.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 9
			path: app/Core/Database/Model.php

		-
			message: '#^Path in require\(\) "D\:\\Personal\\my\-project\\zero/views/errors/500\.php" is not a file or it does not exist\.$#'
			identifier: require.fileNotFound
			count: 1
			path: app/Core/Debug/ExceptionHandler.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Http/Request.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Http/Resources/JsonResource.php

		-
			message: '#^Call to an undefined static method App\\Core\\Filesystem\\Storage\:\:get\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Mail/Mailable.php

		-
			message: '#^Access to an undefined property App\\Core\\Mail\\Mailer\:\:\$to\.$#'
			identifier: property.notFound
			count: 1
			path: app/Core/Mail/Mailer.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Collection\:\:data_get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Core/ORM/Collection.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Collection\:\:operatorForWhere\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Core/ORM/Collection.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Collection\:\:reverse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Core/ORM/Collection.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Collection\:\:useAsCallable\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Core/ORM/Collection.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Collection\:\:valueRetriever\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Core/ORM/Collection.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 5
			path: app/Core/ORM/Collection.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Model\:\:fill\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Core/ORM/Model.php

		-
			message: '#^Call to an undefined method App\\Core\\ORM\\Model\:\:getKeyName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Core/ORM/Model.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: app/Core/ORM/Model.php

		-
			message: '#^Class App\\Core\\Queue\\Drivers\\DatabaseDriver constructor invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Core/Queue/QueueManager.php

		-
			message: '#^Variable \$frameworkPath might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Core/Routing/Router.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#1 \$date \(DateTimeInterface\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: app/Core/Scheduling/CronExpression.php

		-
			message: '#^Anonymous function has an unused use \$token\.$#'
			identifier: closure.unusedUse
			count: 1
			path: app/Core/Security/PasswordBroker.php

		-
			message: '#^Call to an undefined static method App\\Core\\Mail\\Mail\:\:send\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Security/PasswordBroker.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Security/PasswordBroker.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:get\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Security/RateLimiter.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:has\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Security/RateLimiter.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:increment\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Security/RateLimiter.php

		-
			message: '#^Call to an undefined static method App\\Core\\Cache\\Cache\:\:put\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Core/Security/RateLimiter.php

		-
			message: '#^Path in require\(\) "D\:\\Personal\\my\-project\\zero/bootstrap/cache/config\.php" is not a file or it does not exist\.$#'
			identifier: require.fileNotFound
			count: 1
			path: app/Core/Support/Config.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Core/Validation/Validator.php
