includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - app/Core
        - app/Helpers
        - config
    scanFiles:
        - bootstrap/app.php
        - config/config.php
    scanDirectories:
        - app/Core
    excludePaths:
        - templates
        - app/Core/Console/Stubs
        - vendor
    ignoreErrors:
        - '#Class App\\Controllers\\#'
        - '#Class App\\Models\\#'
        -
            identifier: require.fileNotFound
            path: app/Core/Support/Config.php

    # Treat various framework patterns leniently
    reportUnmatchedIgnoredErrors: false
